@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: caramellatte --default;
}

body {
      font-family: "Short Stack", cursive;
}